<div class="gym-dashboard">
    <div class="first-gym-div">
        <div class="gym-dashboard-left">
            <div class="gym-banner-img"><img src="https://images.unsplash.com/photo-1623874514711-0f321325f318?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGd5bXxlbnwwfHwwfHx8MA%3D%3D" alt=""></div>
            <div class="gym-sub-img" >
                <img src="https://images.unsplash.com/photo-1623874514711-0f321325f318?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGd5bXxlbnwwfHwwfHx8MA%3D%3D" alt="">
                <img src="https://images.unsplash.com/photo-1623874514711-0f321325f318?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGd5bXxlbnwwfHwwfHx8MA%3D%3D" alt="">
                <img src="https://images.unsplash.com/photo-1623874514711-0f321325f318?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGd5bXxlbnwwfHwwfHx8MA%3D%3D" alt="">
                <img src="https://images.unsplash.com/photo-1623874514711-0f321325f318?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGd5bXxlbnwwfHwwfHx8MA%3D%3D" alt="">
                <img src="https://images.unsplash.com/photo-1623874514711-0f321325f318?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGd5bXxlbnwwfHwwfHx8MA%3D%3D" alt="">
            </div>
        </div>
        <div class="gym-dashboard-right">
            <div class="gym-info-inputs">
                <div class="time">
                    <div class="input" style="width: 35%;">
                        <label>Open Time</label>
                        <input type="text" placeholder="Open Time" class="userInput">
                    </div>
                    <div class="input" style="width: 35%;">
                        <label>Close Time</label>
                        <input type="text" placeholder="Close Time" class="userInput">
                    </div>
                    <div>OR  <label>24hr</label><input type="checkbox" name="" id=""></div>
                </div>
                <div class="input">
                    <label>A/c OR Non A/c</label>
                    <div style="display: flex; gap :20px; align-items: center;">
                        <div><input type="radio" name="acORNonAc" value="A/c" class="userInput">A/c</div>
                        <div><input type="radio" name="acORNonAc" value="Non A/c" class="userInput">Non A/c</div>
                    </div>
                </div>
                <div class="input">
                    <label>Country</label>
                    <input type="text" placeholder="Country" class="userInput">
                </div>
                <div class="input">
                    <label>State</label>
                    <input type="text" placeholder="State" class="userInput">
                </div>
                <div class="input">
                    <label>City</label>
                    <input type="text" placeholder="City" class="userInput">
                </div>
                <div class="input">
                    <label>Pincode</label>
                    <input type="number" placeholder="Pincode" class="userInput">
                </div>
                <div class="input">
                    <label>Address</label>
                    <input type="text" placeholder="Address" class="userInput">
                </div>
                <div class="input">
                    <label>Gym Type</label>
                    <input type="text" placeholder="Indoor/ Outdoor or both " class="userInput">
                </div>
                
            </div>
            <div class="action-btn">
                <button class="white-btn">Edit</button>
                <button class="white-btn">Save</button>
            </div>
        </div>
    </div>

    <div class="second-gym-div">
        <div class="gym-second-left">
            <div class="gym-trainer-list">
                <div class="gym-heading-tag">
                    <div class="heading-tag">Trainer</div>
                <div><button class="white-btn" style="background: white;">Add +</button></div>
                </div>
                <div class="gym-trainer-info">
                    <div class="gym-trainer-info-card">
                        <div class="gym-t-c-left">
                            <img src="https://plus.unsplash.com/premium_photo-1663036880678-62ae2e87c4c1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9keSUyMGJ1aWxkZXJ8ZW58MHx8MHx8fDA%3D" alt="">
                            <div>
                                <div id="trainer-name">Albert Will</div>
                                <div id="inf">Perosnal Trainer</div>
                            </div>
                        </div>
                        <div class="gym-t-c-right"><i class="ri-arrow-right-wide-line"></i></div>
                    </div>

                    <div class="gym-trainer-info-card">
                        <div class="gym-t-c-left">
                            <img src="https://plus.unsplash.com/premium_photo-1663036880678-62ae2e87c4c1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9keSUyMGJ1aWxkZXJ8ZW58MHx8MHx8fDA%3D" alt="">
                            <div>
                                <div id="trainer-name">Albert Will</div>
                                <div>Perosnal Trainer</div>
                            </div>
                        </div>
                        <div class="gym-t-c-right"><i class="ri-arrow-right-wide-line"></i></div>
                    </div>

                    <div class="gym-trainer-info-card">
                        <div class="gym-t-c-left">
                            <img src="https://plus.unsplash.com/premium_photo-1663036880678-62ae2e87c4c1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9keSUyMGJ1aWxkZXJ8ZW58MHx8MHx8fDA%3D" alt="">
                            <div>
                                <div id="trainer-name">Albert Will</div>
                                <div>Perosnal Trainer</div>
                            </div>
                        </div>
                        <div class="gym-t-c-right"><i class="ri-arrow-right-wide-line"></i></div>
                    </div>

                    <div class="gym-trainer-info-card">
                        <div class="gym-t-c-left">
                            <img src="https://plus.unsplash.com/premium_photo-1663036880678-62ae2e87c4c1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9keSUyMGJ1aWxkZXJ8ZW58MHx8MHx8fDA%3D" alt="">
                            <div>
                                <div id="trainer-name">Albert Will</div>
                                <div>Perosnal Trainer</div>
                            </div>
                        </div>
                        <div class="gym-t-c-right"><i class="ri-arrow-right-wide-line"></i></div>
                    </div>

                    <div class="gym-trainer-info-card">
                        <div class="gym-t-c-left">
                            <img src="https://plus.unsplash.com/premium_photo-1663036880678-62ae2e87c4c1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9keSUyMGJ1aWxkZXJ8ZW58MHx8MHx8fDA%3D" alt="">
                            <div>
                                <div id="trainer-name">Albert Will</div>
                                <div>Perosnal Trainer</div>
                            </div>
                        </div>
                        <div class="gym-t-c-right"><i class="ri-arrow-right-wide-line"></i></div>
                    </div>

                    <div class="gym-trainer-info-card">
                        <div class="gym-t-c-left">
                            <img src="https://plus.unsplash.com/premium_photo-1663036880678-62ae2e87c4c1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9keSUyMGJ1aWxkZXJ8ZW58MHx8MHx8fDA%3D" alt="">
                            <div>
                                <div id="trainer-name">Albert Will</div>
                                <div>Perosnal Trainer</div>
                            </div>
                        </div>
                        <div class="gym-t-c-right"><i class="ri-arrow-right-wide-line"></i></div>
                    </div>

                    <div class="gym-trainer-info-card">
                        <div class="gym-t-c-left">
                            <img src="https://plus.unsplash.com/premium_photo-1663036880678-62ae2e87c4c1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9keSUyMGJ1aWxkZXJ8ZW58MHx8MHx8fDA%3D" alt="">
                            <div>
                                <div id="trainer-name">Albert Will</div>
                                <div>Perosnal Trainer</div>
                            </div>
                        </div>
                        <div class="gym-t-c-right"><i class="ri-arrow-right-wide-line"></i></div>
                    </div>

                    <div class="gym-trainer-info-card">
                        <div class="gym-t-c-left">
                            <img src="https://plus.unsplash.com/premium_photo-1663036880678-62ae2e87c4c1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9keSUyMGJ1aWxkZXJ8ZW58MHx8MHx8fDA%3D" alt="">
                            <div>
                                <div id="trainer-name">Albert Will</div>
                                <div>Perosnal Trainer</div>
                            </div>
                        </div>
                        <div class="gym-t-c-right"><i class="ri-arrow-right-wide-line"></i></div>
                    </div>

                    <div class="gym-trainer-info-card">
                        <div class="gym-t-c-left">
                            <img src="https://plus.unsplash.com/premium_photo-1663036880678-62ae2e87c4c1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9keSUyMGJ1aWxkZXJ8ZW58MHx8MHx8fDA%3D" alt="">
                            <div>
                                <div id="trainer-name">Albert Will</div>
                                <div>Perosnal Trainer</div>
                            </div>
                        </div>
                        <div class="gym-t-c-right"><i class="ri-arrow-right-wide-line"></i></div>
                    </div>

                    <div class="gym-trainer-info-card">
                        <div class="gym-t-c-left">
                            <img src="https://plus.unsplash.com/premium_photo-1663036880678-62ae2e87c4c1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9keSUyMGJ1aWxkZXJ8ZW58MHx8MHx8fDA%3D" alt="">
                            <div>
                                <div id="trainer-name">Albert Will</div>
                                <div>Perosnal Trainer</div>
                            </div>
                        </div>
                        <div class="gym-t-c-right"><i class="ri-arrow-right-wide-line"></i></div>
                    </div>

                    <div class="gym-trainer-info-card">
                        <div class="gym-t-c-left">
                            <img src="https://plus.unsplash.com/premium_photo-1663036880678-62ae2e87c4c1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9keSUyMGJ1aWxkZXJ8ZW58MHx8MHx8fDA%3D" alt="">
                            <div>
                                <div id="trainer-name">Albert Will</div>
                                <div>Perosnal Trainer</div>
                            </div>
                        </div>
                        <div class="gym-t-c-right"><i class="ri-arrow-right-wide-line"></i></div>
                    </div>

                    <div class="gym-trainer-info-card">
                        <div class="gym-t-c-left">
                            <img src="https://plus.unsplash.com/premium_photo-1663036880678-62ae2e87c4c1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9keSUyMGJ1aWxkZXJ8ZW58MHx8MHx8fDA%3D" alt="">
                            <div>
                                <div id="trainer-name">Albert Will</div>
                                <div>Perosnal Trainer</div>
                            </div>
                        </div>
                        <div class="gym-t-c-right"><i class="ri-arrow-right-wide-line"></i></div>
                    </div>

                    <div class="gym-trainer-info-card">
                        <div class="gym-t-c-left">
                            <img src="https://plus.unsplash.com/premium_photo-1663036880678-62ae2e87c4c1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9keSUyMGJ1aWxkZXJ8ZW58MHx8MHx8fDA%3D" alt="">
                            <div>
                                <div id="trainer-name">Albert Will</div>
                                <div>Perosnal Trainer</div>
                            </div>
                        </div>
                        <div class="gym-t-c-right"><i class="ri-arrow-right-wide-line"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gym-second-right">
            <div class="other-details">
                <div class="gym-plans">
                    <div class="gym-heading-tag">
                        <div class="heading-tag">Plan Details</div>
                    <div><button class="white-btn" style="background: white;">Add +</button></div>
                    </div>
                    <div class="plan-details-table">
                        <table class="table">
                            <thead>
                                <tr class="tt">
                                    <th>Plan Name</th>
                                    <th>Duration</th>
                                    <th>With Cardio</th>
                                    <th>Price</th>
                                    <th>Discount Price</th>
                                    <th>Coupon</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Delux</td>
                                    <td>12/months</td>
                                    <td><i class="ri-check-line"></i></td>
                                    <td>12,000/-</td>
                                    <td>9999/-</td>
                                    <td></td>
                                    <td><button>Edit</button></td>
                                </tr>
                                <tr>
                                    <td>Delux</td>
                                    <td>12/months</td>
                                    <td><i class="ri-close-line"></i></td>
                                    <td>12,000/-</td>
                                    <td>9999/-</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Delux</td>
                                    <td>12/months</td>
                                    <td><i class="ri-close-line"></i></td>
                                    <td>12,000/-</td>
                                    <td>9999/-</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Delux</td>
                                    <td>12/months</td>
                                    <td><i class="ri-close-line"></i></td>
                                    <td>12,000/-</td>
                                    <td>9999/-</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Delux</td>
                                    <td>12/months</td>
                                    <td><i class="ri-close-line"></i></td>
                                    <td>12,000/-</td>
                                    <td>9999/-</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Delux</td>
                                    <td>12/months</td>
                                    <td><i class="ri-close-line"></i></td>
                                    <td>12,000/-</td>
                                    <td>9999/-</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="gym-amanities">
                    <div class="gym-heading-tag">
                        <div class="heading-tag">Amanities</div>
                    <div><button class="white-btn" style="background: white;">Add +</button></div>
                    </div>
                    <div class="amanities-info">
                        <div class="amaniti-card">
                            <img src="https://images.unsplash.com/photo-1558617320-e695f0d420de?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c3dpbW1pbmclMjBwb29sfGVufDB8fDB8fHww" alt="">
                            <div>Loker Room</div>
                        </div>
    
                        <div class="amaniti-card">
                            <img src="https://images.unsplash.com/photo-1690126671026-623dc4f8370a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Q2FmZXRlcmlhfGVufDB8fDB8fHww" alt="">
                            <div>Cafeteria</div>
                        </div>
    
                        <div class="amaniti-card">
                            <img src="" alt="">
                            <div>Loker Room</div>
                        </div>

                        <div class="amaniti-card">
                            <img src="" alt="">
                            <div>Loker Room</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="third-gym-div">
        <div class="third-gym-div-left">
            <div class="gym-heading-tag">
                <div class="heading-tag">Gym Equipments</div>
            <div><button class="white-btn" style="background: white;">Add +</button></div>
            </div>
            <table class="table">
                <thead>
                    <tr class="tt">
                        <th>Equipment</th>
                        <th>Quantity</th>
                        <th>Weight</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bench Press</td>
                        <td>12/months</td>
                        <td><i class="ri-check-line"></i></td>
                        <td>12,000/-</td>
                        <td>9999/-</td>
                        <td></td>
                        <td><button>Edit</button></td>
                    </tr>
                    <tr>
                        <td>Shoulder Machine</td>
                        <td>12/months</td>
                        <td><i class="ri-close-line"></i></td>
                        <td>12,000/-</td>
                        <td>9999/-</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="third-gym-div-right">
            <img src="https://plus.unsplash.com/premium_photo-1682310071124-33632135b2ee?q=80&w=1824&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        </div>
    </div>
</div>