<div class="box">
    <div class="nav">
        <div class="logo"><span routerLink="">LOGO</span></div>
        <div class="nav-tabs">
            <div routerLink="/dashboard">Home</div>
            <div routerLink="/all-gyms">Find Gyms</div>
            <div routerLink="/all-trainers">Persoanl Trainer</div>
            <div routerLink="/other-services">Services</div>
            <div>About</div>
        </div>
        <div class="action-btn">
            <button class="btn" routerLink="./userloginPage">Login</button>
            <!-- <button class="btn" routerLink="./userloginPage">Logout</button> -->
        </div>
        <div class="burger-menu">
            <img src="assets/icon/burger-menu.png" alt="" (click)="burgerMenuClick()">
        </div>
    </div>
</div>