<div class="all-box">
    <div class="filters">
        <select name="" id="" class="filter-select">
            <option value="" >Gyms</option>
            <option value="" >All</option>
            <option value="">Nearby</option>
            <option value="">Navi Mumbai</option>
            <option value="">abc</option>
            <option value="">abc</option>
        </select>

        <input type="text" class="white-btn" placeholder="Search Gym" class="input">
    </div>

    <div class="gyms">
        <div class="gym-card">
            <img src="https://png.pngtree.com/thumb_back/fh260/background/20230613/pngtree-black-and-white-gym-room-with-a-row-of-equipment-image_2911173.jpg" alt="" class="gym-img">
            <div class="gym-name">CrossFit Gym</div>
            <div class="gym-location">
                <div><i class="ri-map-pin-line"></i> <span> Ghansoli</span></div>
                <div class="rating"><i class="ri-star-s-line"></i> <span> 4.5</span></div>
            </div>
            <div class="action-btn-trainer">
                <button>Apply</button>
                <button>Know more</button>
            </div>
        </div>

        <div class="gym-card">
            <img src="https://png.pngtree.com/thumb_back/fh260/background/20230613/pngtree-black-and-white-gym-room-with-a-row-of-equipment-image_2911173.jpg" alt="" class="gym-img">
            <div class="gym-name">CrossFit Gym</div>
            <div class="gym-location">
                <div><i class="ri-map-pin-line"></i> <span> Ghansoli</span></div>
                <div class="rating"><i class="ri-star-s-line"></i> <span> 4.5</span></div>
            </div>
            <div class="action-btn-trainer">
                <button>Apply</button>
                <button>Know more</button>
            </div>
        </div>

        <div class="gym-card">
            <img src="https://png.pngtree.com/thumb_back/fh260/background/20230613/pngtree-black-and-white-gym-room-with-a-row-of-equipment-image_2911173.jpg" alt="" class="gym-img">
            <div class="gym-name">CrossFit Gym</div>
            <div class="gym-location">
                <div><i class="ri-map-pin-line"></i> <span> Ghansoli</span></div>
                <div class="rating"><i class="ri-star-s-line"></i> <span> 4.5</span></div>
            </div>
            <div class="action-btn-trainer">
                <button>Apply</button>
                <button>Know more</button>
            </div>
        </div>

        <div class="gym-card">
            <img src="https://png.pngtree.com/thumb_back/fh260/background/20230613/pngtree-black-and-white-gym-room-with-a-row-of-equipment-image_2911173.jpg" alt="" class="gym-img">
            <div class="gym-name">CrossFit Gym</div>
            <div class="gym-location">
                <div><i class="ri-map-pin-line"></i> <span> Ghansoli</span></div>
                <div class="rating"><i class="ri-star-s-line"></i> <span> 4.5</span></div>
            </div>
            <div class="action-btn-trainer">
                <button>Apply</button>
                <button>Know more</button>
            </div>
        </div>

        <div class="gym-card">
            <img src="https://png.pngtree.com/thumb_back/fh260/background/20230613/pngtree-black-and-white-gym-room-with-a-row-of-equipment-image_2911173.jpg" alt="" class="gym-img">
            <div class="gym-name">CrossFit Gym</div>
            <div class="gym-location">
                <div><i class="ri-map-pin-line"></i> <span> Ghansoli</span></div>
                <div class="rating"><i class="ri-star-s-line"></i> <span> 4.5</span></div>
            </div>
            <div class="action-btn-trainer">
                <button>Apply</button>
                <button>Know more</button>
            </div>
        </div>

        <div class="gym-card">
            <img src="https://png.pngtree.com/thumb_back/fh260/background/20230613/pngtree-black-and-white-gym-room-with-a-row-of-equipment-image_2911173.jpg" alt="" class="gym-img">
            <div class="gym-name">CrossFit Gym</div>
            <div class="gym-location">
                <div><i class="ri-map-pin-line"></i> <span> Ghansoli</span></div>
                <div class="rating"><i class="ri-star-s-line"></i> <span> 4.5</span></div>
            </div>
            <div class="action-btn-trainer">
                <button>Apply</button>
                <button>Know more</button>
            </div>
        </div>

        <div class="gym-card">
            <img src="https://png.pngtree.com/thumb_back/fh260/background/20230613/pngtree-black-and-white-gym-room-with-a-row-of-equipment-image_2911173.jpg" alt="" class="gym-img">
            <div class="gym-name">CrossFit Gym</div>
            <div class="gym-location">
                <div><i class="ri-map-pin-line"></i> <span> Ghansoli</span></div>
                <div class="rating"><i class="ri-star-s-line"></i> <span> 4.5</span></div>
            </div>
            <div class="action-btn-trainer">
                <button>Apply</button>
                <button>Know more</button>
            </div>
        </div>

        <div class="gym-card">
            <img src="https://png.pngtree.com/thumb_back/fh260/background/20230613/pngtree-black-and-white-gym-room-with-a-row-of-equipment-image_2911173.jpg" alt="" class="gym-img">
            <div class="gym-name">CrossFit Gym</div>
            <div class="gym-location">
                <div><i class="ri-map-pin-line"></i> <span> Ghansoli</span></div>
                <div class="rating"><i class="ri-star-s-line"></i> <span> 4.5</span></div>
            </div>
            <div class="action-btn-trainer">
                <button>Apply</button>
                <button>Know more</button>
            </div>
        </div>
        
    </div>

    <div class="action-all-page-btn">
        <button class="white-btn">Next</button>
    </div>
</div>