<div class="containerr">
    <!-- <div class="header">
        <div class="left-logo">
            <img src="assets/icon/burger-menu.png" alt="">
            <img src="assets/icon/Logo.png" alt="" width="70px" class="logo">
        </div>
        <input type="Search Product,Order..." class="search-input">
        <div class="right-user">
        </div>
    </div> -->

    <section class="user-dashoard">
        <div class="left-content">
            <div class="cc">
                <div class="graph-products">
                    <div class="graph"></div>

                    <div class="suggestion-one">
                        <div class="questions"></div>
                        <div class="trainer-suggestion"></div>
                    </div>

                </div>
                <div class="info-activity">
                    <div class="info">
                        <div class="user-info">
                            <div class="age-weoght-height">25</div>
                            <div class="age-weoght-height">75</div>
                            <div class="age-weoght-height">6ft</div>
                        </div>
                        <div class="bmi-box">
                            <div class="bmi"></div>
                        </div>
                    </div>

                    <div class="callories-info"></div>

                    <div class="sleep-water-cards">
                        <div class="sleep-card"></div>
                        <div class="water-card"></div>
                    </div>

                    <div class="user-todays-walk-map"></div>
                </div>
            </div>
            <div class="recommendations-activity">
                <div class="recommended-food"></div>
                <div class="user-activity"></div>
            </div>
        </div>
        <div class="right-advertisment"></div>
    </section>
</div>