<div class="profil-container">
    <div class="profile-img-exp-btn">
        <div class="profile-img">
            <img style="width: 60px; height: 60px; border-radius: 50%;" src="https://media.sproutsocial.com/uploads/2022/06/profile-picture.jpeg" alt="">
            <div style="line-height: 15px;">
                <h4>Albert Will</h4>
                <span style="padding: 3px 10px; border: 1px solid grey; border-radius: 5px;">Trainer</span>
            </div>

        </div>
        <div class="buttons">
            <button type="button" class="white-btn">Export</button>
        </div>
    </div>
    <div class="main-div">
        <div class="left-profile">
            <div class="mini-toggle-box">
                <div class="widgets selected"><i class="ri-article-line"></i></div>
                <div class="widgets"><i class="ri-notification-4-line"></i></div>
                <div class="widgets"><i class="ri-calendar-todo-line"></i></div>
                <div class="widgets"><i class="ri-contacts-book-3-line"></i></div>
                <div class="widgets"><i class="ri-message-2-line"></i></div>
                <hr width="40%">
            </div>

            <div class="first-left-profile">
                <div style="display: flex; align-items: center; gap: 5px;"><i style="font-size: 25px;" class="ri-arrow-drop-down-fill"></i><h5>About</h5></div>
                <div class="tagValue">
                    <div class="tag"><i style="color: bgreylack; margin-right: 3px;" class="ri-slideshow-line"></i> Description</div>
                    <div class="value"></div>
                </div>
                <h5 style="margin-top: 5px;">Details</h5>

                <div class="tagValue">
                    <div class="tag"><i style="color: grey; margin-right: 3px;" class="ri-slideshow-line"></i> Time</div>
                    <div class="value">12:00pm - 02:00pm</div>
                </div>
                <div class="tagValue">
                    <div class="tag"><i style="color: grey; margin-right: 3px;" class="ri-slideshow-line"></i> Mail id</div>
                    <div class="value">abcgmail.com</div>
                </div>
                <div class="tagValue">
                    <div class="tag"><i style="color: grey; margin-right: 3px;" class="ri-slideshow-line"></i> Phone</div>
                    <div class="value">+91 9875645367</div>
                </div>
                <div class="tagValue">
                    <div class="tag"><i style="color: grey; margin-right: 3px;" class="ri-slideshow-line"></i> Mail id</div>
                    <div class="value"></div>
                </div>
                <button class="white-btn">Edit</button>
                <hr>

                <div class="second-left-profile">
                    <div style="display: flex; align-items: center; gap: 5px;"><i style="font-size: 25px;" class="ri-arrow-drop-down-fill"></i><h5>Clients</h5></div>
                    <div class="client-list">
                        <div class="client-name"><img style="width: 30px; height: 30px; border-radius: 50%; margin-right: 5px;" src="https://media.sproutsocial.com/uploads/2022/06/profile-picture.jpeg" alt="">Rohit Bhim</div>
                        <i class="ri-more-line"></i>
                    </div>
                    <div class="client-list">
                        <div class="client-name"><img style="width: 30px; height: 30px; border-radius: 50%; margin-right: 5px;" src="https://media.sproutsocial.com/uploads/2022/06/profile-picture.jpeg" alt="">Rohit Bhim</div>
                        <i class="ri-more-line"></i>
                    </div>
                    <div class="client-list">
                        <div class="client-name"><img style="width: 30px; height: 30px; border-radius: 50%; margin-right: 5px;" src="https://media.sproutsocial.com/uploads/2022/06/profile-picture.jpeg" alt="">Rohit Bhim</div>
                        <i class="ri-more-line"></i>
                    </div>
                    <div class="client-list">
                        <div class="client-name"><img style="width: 30px; height: 30px; border-radius: 50%; margin-right: 5px;" src="https://media.sproutsocial.com/uploads/2022/06/profile-picture.jpeg" alt="">Rohit Bhim</div>
                        <i class="ri-more-line"></i>
                    </div>
                    <button class="white-btn" type="button">View 10 more <i class="ri-more-line"></i></button>
                    <hr>
                </div>

                <div class="third-left-profile">
                    <div style="display: flex; align-items: center; gap: 5px;"><i style="font-size: 25px;" class="ri-arrow-drop-down-fill"></i><h5>Requests</h5></div>
                    <div class="request-info">
                        <div class="icon-box"></div>
                        <div class="requestedPeople">
                            <h5 style="margin: 2px;">Gym</h5>
                            <p>12 gym's Invitation</p>
                        </div>
                        <!-- <i class="ri-more-line"></i> -->
                    </div>
                    <div class="request-info">
                        <div class="icon-box"></div>
                        <div class="requestedPeople">
                            <h5 style="margin: 2px;">Gym</h5>
                            <p>12 gym's Invitation</p>
                        </div>
                        <!-- <i class="ri-more-line"></i> -->
                    </div>
                    <div class="request-info">
                        <div class="icon-box"></div>
                        <div class="requestedPeople">
                            <h5 style="margin: 2px;">Gym</h5>
                            <p>12 gym's Invitation</p>
                        </div>
                        <!-- <i class="ri-more-line"></i> -->
                    </div>
                    <button class="white-btn" type="button">View 10 more <i class="ri-more-line"></i></button>
                    <hr>
                </div>
            </div>
        </div>
        <div class="right-main-info">
            <div style="display: flex; justify-content: space-between;">
                <div class="white-btn"><i class="ri-eye-line"></i> Show thiscontact on: <span style="font-weight: 600;">Every one<i class="ri-arrow-drop-down-fill"></i></span></div>
                <hr style="width: 67%;">
            </div>

            <div class="trainer-all-tabs">
                <div class="tab-name" style="color: orange;">All</div>
                <div class="tab-name"><i style="margin-right: 7px; color: grey;" class="ri-line-chart-line"></i>Activity</div>
                <div class="tab-name"><i style="margin-right: 7px; color: grey;" class="ri-task-line"></i>Task</div>
                <div class="tab-name"><i style="margin-right: 7px; color: grey;" class="ri-at-line"></i>Mention</div>
                <div class="tab-name"><i style="margin-right: 7px; color: grey;" class="ri-attachment-2"></i>Attachment</div>
            </div>
            <hr style="margin-top: 7px;">

            <input type="text" placeholder="Search" class="white-btn">
        </div>
    </div>
</div>