<marquee behavior="" direction="">Hello Everyone</marquee>
<footer>
    <div class="left-footer">
        <div class="footer-img">
            <img src="assets/icon/Logo.png" alt="" routerLink="">
        </div>
        <div class="social-medial">
            <div class="social-icons"><img src="assets/icon/facebook.png" alt=""></div>
            <div class="social-icons"><img src="assets/icon/twitter.png" alt=""></div>
            <div class="social-icons"><img src="assets/icon/instagram.png" alt=""></div>
            <div class="social-icons"><img src="assets/icon/whatsapp.png" alt=""></div>
        </div>
    </div>
    <div class="right-footer">
        <div class="footer-product-info">
            <div class="head-name">Product</div>
            <div class="our-product">Overview</div>
            <div class="our-product">Overview</div>
            <div class="our-product">Overview</div>
            <div class="our-product">Overview</div>
            <div class="our-product">Overview</div>
        </div>

        <div class="footer-product-info">
            <div class="head-name">Company</div>
            <div class="our-product">About Us</div>
            <div class="our-product">Careers</div>
            <div class="our-product">News</div>
            <div class="our-product">Service</div>
            <div class="our-product">Contact</div>
        </div>

        <div class="footer-product-info">
            <div class="head-name">Join</div>
            <div class="our-product" routerLink="/gym/">Register Gym</div>
            <div class="our-product" routerLink="/trainer/">Register Trainer</div>
        </div>

        <div class="footer-product-info">
            <input type="email" placeholder="mail id">
            <button>Submit</button>
        </div>
    </div>
</footer>